*{
  margin: 0;
  padding: 0;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.pstack{
  height: 100%;
  width: 100%;
  position: absolute;
}

.form-box{
  border-top-left-radius:0;border-top-right-radius:0;
  padding: 40px;
  margin: 5%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.73);
  background: #e5e5e5;
  position: relative;
  border-radius:4px;
  float: right;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  z-index: 0;
  min-width: 35%;
  min-height: 60%;
}

.form-box h1 {
  position: relative;
  text-align: left;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #1e1e22;
}

.form-box h2 {
  padding-top: 8px;
  position: relative;
  text-align: left;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #26292e;
}


.txtb{
  border-bottom: 1px solid #5d5d5d;
  position: relative;
  margin: 20px 0;
  
}

.txtb input{
  font-size: 1.2rem;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 5px 5px;

}

.txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 0px;
  color: #adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}
.txtb span::after{
  content: '';
  position: absolute;
  height: 2px;
  color:#0e0e0e;
  background: #1473E6;
  transition: .5s;
}

.focusin{
  color: red;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}


#create {
  text-align: center;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #d19c42;
  text-decoration: none;
}
#create:hover {
  text-decoration: underline;
}


div.fpa {
  text-align: right;
  padding-top: 10px;
}

#fp {
  position: relative;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  padding-top: 10px;
  font-size: 1rem;
  text-decoration: none;
  color: #5d5d5d;
}
#fp:hover {
  color: #26292E;
  text-decoration: underline;
}
.signin-div{
  padding-top: 20px;
  position: relative;
  width: 100%;
  height: 45px;
}
.sigin {
  text-align: center;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  font-weight: bold;
  background-color: #d0ac6e;
  color: white;
  border: none;
  border-radius: 23px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.sigin:hover {
  cursor: pointer;
  background: #d19c42;
}

#or {
  position: relative; 
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #5d5d5d;
}

h3 {
  display: flex;
  width: 100%;
  padding-top: 20px;
  justify-content: center;
  color: #5d5d5d;
  align-items: center;
  text-align: center;
}

h3:before,
h3:after {
  content: '';
  border-top: 1px solid;
  color: #5d5d5d;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
h3:after {
  margin: 0 0 0 20px;
}


#gicon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: visible;
  align-items: center;

}

.gsigin {
  white-space: nowrap;
  padding-right: 10px;
  text-align: center;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  text-align-last: center;
  background: none;
  color: #26292e;
  border: 1px solid #5d5d5d;
  border-radius: 23px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.gsigin:hover {
  cursor: pointer;
}

@media(max-width:1025px){
  .form-box{
    float: none;
    margin: 6% 25% auto;
  }
}

@media(max-width:640px){
  .form-box{
    float: none;
    margin: 6% 15% auto;
  }
}

@media(max-width:480px){
  .form-box{
    float: left;
    margin: 0% auto ;
  
    
  }
}

@media(max-width:780px){
  .form-box{
    float: none;
    margin: 6% 20% auto;
  }
}